<div style="text-align: center; width: 70%; padding: 5em 0; margin: 0 auto" class="align-middle">
  <h1 style="font-weight: bold">
    <span class="octicon octicon-mark-github" style="font-size: 45px"></span> &nbsp; Welcome, {{ user.login }}
  </h1>
  <br>
  
  <h2 style="font-weight: normal">
    Show off your skills, projects and interests by modifying your profile page. Get started now!
  </h2>
  <br>

  <button class="btn btn-primary btn-lg" href="#" routerLink="/profile">Modify profile</button>
</div>